

/* HERO */

.hero .content h1{
    font-size: 5rem;
    color: #DE7174;
    font-weight: normal;
}

.hero .content{
    width: 75%;
}

/* STORY */

.story{
    background: linear-gradient(to bottom, #ffffff 25%, #FBC5C5 25%, #FBC5C5 75%, #ffffff 75%);
}

/* AIM */

.aim{
    background-color: #AB8D83;
}

.aim .aim-list{
    border-radius: 20px;
border: 3px solid #F4D5D5;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
}

.aim .aim-list svg{
    height: 3rem;
}

.aim .aim-list p{
    margin-top: 0.5rem;
    font-size: 1.33rem;
    font-weight: bold;
    color: #975737;
}

.aim .aim-list:hover{
    background-color: #975737;
    
}

.aim .aim-list:hover p{
    color: white;
}

.aim .aim-list:hover svg path{
    fill: white;
}

/* BLOG */

.blog .product-item{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

/* RESPONSIVE */

@media screen and (max-width:768px) {
    .hero .content{
        width: 100%;
    }

    .hero .content h1{
        font-size: 3rem;
    }
    
}