/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.detail__slider {
    height: 300px;
    padding: 50px 0;
    background: url(../img/Container.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

 .detail__slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

 .detail__content {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
}

/* DETAIL__PRODUCT */

.detail__text h2{
    color: rgb(255, 208, 0);
    font-weight: bold;
    font-family: cursive;
    padding-bottom: 1rem;
}

.detail__text-detail{
    padding-top: 20px;
    border-top: 1px dotted #d5d5d5;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card_area button{
    margin-top: 1rem;
    background-color: #AB8D83;
    color: white;
    transition: all 0.25s ;
}

.card_area button:hover{
    transform: translateY(-15%);
    color: white;
}


.product__count button{
    width: 25px;
    height: 30px;
    background: #AB8D83;
    border: none;
    font-size: 14px;
    transition: all 0.3s linear 0s;
    color: rgb(255, 255, 255);
}

/* MODAL ADD PRODUCT TO CART */

.modal-cart{
    background-color:#FEECEC;
    position: fixed;
    top: 0;
    right: -120%;
    width: 35vw;
    max-height: 100%;
    overflow-y: scroll;
   z-index: 10;
    transition: right 0.5s;
}

.modal-cart h4{
    font-size: 120%;
    margin-bottom: 0;
}

.show{
    right: 0;
}

.modal-cart i{
    font-size: 120%;
    color: black;
}

.modal-head i{
    font-size: 2rem;
    color: #F45757;
    cursor: pointer;
}

.modal-head span{
    color: #F45757;
}

.modal-cart .selection-item{
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    /* margin-bottom: 4rem; */
}

.modal-cart .row input,.modal-cart .pay button:first-child
{
    background: none;
}

.modal-cart .item-pay .quantity{
    border: 2px solid black;
    padding: 3% 6%;
    border-radius: 2rem;
    width: 10rem;
}

.modal-cart .selection-item i{
    cursor: pointer;
}

.modal-cart .buy-together{
    border-radius: 0.5rem;
    background-color: #FEF5F5;
}

.modal-cart .buy-together > h4{
    color: #F45757;
}

.modal-cart .buy-together .btn{
    font-weight: bold;
    color: black;
    padding: 2% 4%;
    border-radius: 2rem;
    border: 1px solid #353535;
    background-color: #FBC400;
}

.modal-cart .pay-total{
    border-radius: 0.5rem;
    background-color: #FBC5C5;
}

.modal-cart .item-info h4 {
    /* font-size: 1rem; */
    margin-bottom: 0;
    margin-right: 0.5rem;
    /* font-family: 'Open Sans', sans-serif; */
}

.modal-cart .total p{
    font-size: 100%;
    color: #F45757;
    font-weight: bold;
}

.modal-cart .pay .btn{
    font-weight: bold;
    color: black;
    padding: 2% 4%;
    border-radius: 2rem;
    border: 1px solid #353535;
    background-color: #F45757;
}

@media screen and (max-width : 768px){
    .modal-cart{
        width: 100vw;
        padding: 0 1vw;
    }
}
/* SUB__DETAIL */

.product_description_area .nav.nav-tabs{
    color: black;
    background-color: #FBEADF;
}

.product_description_area .nav .nav-link{
    color: black;
}


.product_description_area .nav .nav-link.active{
    background-color: #AB8D83;
    color: white;
}

.review_item {
    margin-bottom: 15px;
}

.review_box{
    padding: 2rem;
    border: 1px solid #AB8D83;
    border-radius: 5px;
}

.contact_form .form-group {
    margin-bottom: 10px;
}



.contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #AB8D83;
    border-radius: 0px;
    padding-left: 20px;
    
}

/* RELATED PRODUCTS */
.product-item {
    position: relative;
}

.product-item img {
    transition:all 0.5s;
}

.product-item:hover img {
    transform: scale(1.3)
}

.product-item .product-content {
    background-color:#AB8D83 ;
    position: relative;
    transform: translateY(-50%);
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.product-item .product-content .price {
    color:#1E285F ;
}

.product-item .product-content .star{
    color:#FFAD0F ;
}



