/* BANNER */
.banner{
    /* width: 100vw; */
    height: auto;
    background: url(../img/texture.png), lightgray 50% / cover no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(255, 203, 172);
    
}

.banner .container img{
    border-radius: 2vw;
    box-shadow: 10px 13px 15px 0px rgba(0, 0, 0, 0.25);
}

.banner__right .anhde{
    position: absolute;
    width: 50%;
    transform: translateX(-5%);
    transform: translateY(5%);
    top: 5%;
}



/* MENU */

.sidebar-categories .head {
    line-height: 60px;
    background: #AB8D83;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}

.sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    transition: all 0.25s;
}

.sidebar-categories .main-nav-list a:hover, .sidebar-categories .main-nav-list a:focus,.sidebar-categories .main-nav-list::marker{
    color: #AB8D83;
   
}


.main-categories a {
    color: #000;
    text-decoration: none;
}

.sidebar-categories .main-nav-list a .lnr {
    margin-right: 10px;
    display: none;
}

.sidebar-categories .main-nav-list.child a {
    padding-left: 32px;
}

.sidebar-categories .main-nav-list a .number {
    color: #cccccc;
    margin-left: 10px;
}

.sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}

/* ul {
    margin: 0;
    padding: 0;
    list-style: none;
} */

.filter-bar {
    padding: 0px 20px 10px 20px;
    background: #AB8D83;
}

.sorting,.pagination {
    margin-top: 10px;
    margin-right: 10px;
    
}
.sorting select,.pagination input{
    padding: 6px;
}

.sorting .nice-select {
    border-radius: 0px;
    border: 1px solid #eee;
    padding-right: 50px;
}



.sorting .nice-select .list {
    border-radius: 0px;
}

.pagination a {
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #fff;
}

.filter-bar a, .filter-bar i {
    color: #000;
}

.filter-bar a.active{
    text-decoration: underline;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.category-list .single-product {
    margin-top: 30px;
}

.single-product {
    margin-bottom: 50px;
}

.single-product img {
    margin-bottom: 20px;
    width: 100%;
    transition: all 0.5s;
}

.single-product:hover img{
    transform: scale(1.2);
}

.single-product .product-details .price h6 {
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
    margin: 0;
}

.single-product .product-details .price .l-through {
    text-decoration: line-through;
    color: #cccccc;
    margin-bottom: 0;
}

.single-product .product-details .price h6 {
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
    margin: 0;
}

.single-product .product-details .prd-bottom {
    position: relative;
    margin-top: 20px;
}

.single-product .product-details .prd-bottom button{
    background-color: #AB8D83;
    
    transition: all 0.25s ;
}

.single-product .product-details .prd-bottom button a{
    color: white;
}

.single-product .product-details .prd-bottom button:hover{
    transform: translateY(-15%);
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translate(-50%,220%);
    background: #fff; 
    border: 1px solid #d1c8c5;
    border-radius: 5px;  
  }

  .popup i{
    color: green;
  }




  /* MODAL ADD PRODUCT TO CART */

.modal-cart{
    background-color:#FEECEC;
    position: fixed;
    top: 0;
    right: -120%;
    width: 35vw;
    max-height: 100%;
    overflow-y: scroll;
   z-index: 10;
    transition: right 0.5s;
}

.modal-cart h4{
    font-size: 120%;
    margin-bottom: 0;
}

.show{
    right: 0;
}

.modal-cart i{
    font-size: 120%;
    color: black;
}

.modal-head i{
    font-size: 2rem;
    color: #F45757;
    cursor: pointer;
}

.modal-head span{
    color: #F45757;
}

.modal-cart .selection-item{
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    /* margin-bottom: 4rem; */
}

.modal-cart .row input,.modal-cart .pay button:first-child
{
    background: none;
}

.modal-cart .item-pay .quantity{
    border: 2px solid black;
    padding: 3% 6%;
    border-radius: 2rem;
    width: 10rem;
}

.modal-cart .selection-item i{
    cursor: pointer;
}

.modal-cart .buy-together{
    border-radius: 0.5rem;
    background-color: #FEF5F5;
}

.modal-cart .buy-together > h4{
    color: #F45757;
}

.modal-cart .buy-together .btn{
    font-weight: bold;
    color: black;
    padding: 2% 4%;
    border-radius: 2rem;
    border: 1px solid #353535;
    background-color: #FBC400;
}

.modal-cart .pay-total{
    border-radius: 0.5rem;
    background-color: #FBC5C5;
}

.modal-cart .item-info h4 {
    /* font-size: 1rem; */
    margin-bottom: 0;
    margin-right: 0.5rem;
    /* font-family: 'Open Sans', sans-serif; */
}

.modal-cart .total p{
    font-size: 100%;
    color: #F45757;
    font-weight: bold;
}

.modal-cart .pay .btn{
    font-weight: bold;
    color: black;
    padding: 2% 4%;
    border-radius: 2rem;
    border: 1px solid #353535;
    background-color: #F45757;
}

@media screen and (max-width : 768px){
    .modal-cart{
        width: 100vw;
        padding: 0 1vw;
    }
}

/* RESPONSIVE */
@media screen and (max-width:768px){
    .banner-text{
        display: none;
    }
    
}