/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Playball', cursive;
}

p{
    color: black;
}

button {
    background-color: #AB8D83 ;
    color: white ;
}

.text-content{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: #6F7CB2;
}

@media only screen and (max-width: 768px) {
    .text-content{
        width: 90%;
    }
    


}



/* HEADER */
header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
}

.nav-bar {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.navbar .navbar-nav .nav-link {
    
    padding: 10px 12px;
    font-weight: 600;
    font-size: 17px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    
    color: #6F7CB2;
}

.dropdown .dropdown-menu a:hover {
    background: #D4A762;
    color: #FFFCF8;
}

.navbar .searchbox {
  background-color: #e3e3e5;
  /* width: 30%; */
}

input{
    outline: none;
}

/* SLIDER */

.slider{
    background-image: url(../img/Container.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 934px;
    position: relative;
}

.background__bottom {
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    background: #AB8D83;
    width: 80%;
    height: 100%;
    max-height: 230px;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.background_bottom {
    width: 80%;
    padding: 10px;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.circle {
    height: 237px;
    width: 237px;
    position: relative;
    display: inline-block;
    border-radius: 100rem;
}
#circle_1 {
    background-color: #F4CC88;
}
#circle_2 {
    background-color: #93C9A6;
}
#circle_3 {
    background-color: #EA7687;
}
.circle img {
    aspect-ratio: 1/1;
}
#circle_1 img {
    height: 221px;
}
#circle_2 img {
    height: 243px;
}
#circle_3 img {
    height: 221px;
}
.title_slider{
    margin-top: 1.5em;
    color: #e3d5ca ;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 15px;
}
.title_slider p{
    color: #e3d5ca ;
}

.highlight_slider{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.danh_gia{
    padding: 4px 8px;
    height: 35px;
    width: 60px;
    position: absolute;
    bottom: 20%;
    right: -5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 4px;
    gap: 0.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.danh_gia svg{
    color: #FFAD0F;
    width: 2em;
}

.slider .slider-description{
    color: #FEDADB;
}

@media only screen and (max-width: 768px) {
    .sanpham {
        margin: 0 auto;
        max-width: 80%;
    }

    .slider .slider-description{
        display: none;
    }


}

/* ABOUT */
.about{
    background-color: #F5D2D3;
}

/* BEST SELLER */
.wrapper{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.best__seller .display-img{
    transition: opacity 1s step-start;
}
/* .text-content{
    text-align: center;
    padding: 0 128px;
} */
.best_seller{
    position: relative;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.bg-overlay{
    width: 100%;
    height: 100%;
    background-color: #F0A3A5;
    opacity: 40%;
    position: absolute;
}
.card{
    position: relative;
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transition: .8s cubic-bezier(.28,-0.03,0,.99);
    /* box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8); */
}
.card > .row{
    color: #001219;
    display: flex;
    flex-wrap: nowrap;
}
.card > .row > .icon{
    position: absolute;
    bottom: 3%;
    left: 3%;
    background: #43291f;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    transform: translateY(200px);
    transition-delay: .3s;
    transition: transform .3s ease;   
}
.description p { 
    color: #001219;
    padding-bottom: 5px;

}
.description h4{
    text-transform: uppercase;
    font-weight: bold;
}
.best_seller input{
   display: none;
}
input:checked + label{
    width: 600px;
}

.best__seller .best_title{
    margin: 0 auto;
    width: 70%;
}

input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.card[for="c1"]{
    background-image: url(../img/best/fb2.jpg);   
}
.card[for="c2"]{
    background-image: url(../img/best/fb3.jpg);   
}
.card[for="c3"]{
    background-image: url(../img/best/fb4.jpg);   
}
.card[for="c4"]{
    background-image: url(../img/best/fb5.jpg);   
}
input:checked ~ .sale-tag {
    opacity: 1;
    transform: scale(100%);
}

.sale-tag {
    position: absolute;
    top: -1%;
    left: 1%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-out;
}

.sale-tag img {
    width: 8em;
}

.sale-tag-text {
    width: 100%;
    position: absolute;
    top: 11%;
    left: 3%;
    font-size: 1.25rem;
    color: white;
    font-weight: bolder;
    transform: rotate(-45deg);
}

.main-best_seller{
    display: none;
}

.best__seller .icon.active{
    background-color: #a8762c;
}

@media screen and (max-width:768px){
    .main-best_seller{
        display: block;
    }
    input:checked ~ .sale-tag {
    opacity: inherit;
    transform: inherit;
    }

    input:checked + label{
        width: 80px;
    }

    .best__seller .best_title{
        margin: 5px auto;
        width: 90%;
    }

    .best_seller {
        position: static;
        height: initial;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .best_seller input{
        display: none;
    }

    .wrapper {
        
        height: inherit;
        margin-bottom: 1rem;
    }

    .card{
        margin: 0 5px;
    }
} 



/* PRODUCT */
.product{
    background-color: #FBEADF;
}
.product .tab-class .nav-item a{
    text-decoration: none;
}
.bg-light {
    background-color: #FEF7F3 !important;
}
.border-primary {
    border-color: #F0A3A5!important;
}
.product .tab-class .nav-item a.active {
    background: #F0A3A5 !important;
}

/* FEEDBACK */
.feedback{
    background-position: center;
    background-attachment: fixed;    
    background-size: cover;
}
.bg-fb1{
    width: 23.4rem;
    height: 23.6rem;
    background-image: url(/img/fb/fb1.png);
}
.bg-fb2{
    width: 23.4rem;
    height: 23.6rem;
    background-image: url(/img/fb/fb2.png);
}
.bg-fb3{
    width: 23.4rem;
    height: 23.6rem;
    background-image: url(/img/fb/fb3.png);
}
.bg-fb4{
    width: 23.4rem;
    height: 23.6rem;
    background-image: url(/img/fb/fb4.png);
}
.fb-overlay{
    position: absolute;
    width: 23.4rem;
    height: 23.6rem;
    background-color: white;
    opacity: 45%;
}
.fb{
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    width: 17rem;
    height: 18rem;
    margin: 3rem;
}
.fb > p{
    margin: 1.1rem;
}
.review{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
}
.review img{
    width: 4.5rem !important;
}
.review-name svg{
    width: 1.25rem;
    height: 1.25rem;
    color: #FFAD0F;
}
.review-name{
    margin: 0 0.5rem;
    font-weight: bold;
    line-height: 2rem;
    font-size: 14px;
}

/* QUESTION */

.question .accordion-item{
    padding: 1rem;
    border: 1px solid #5D5A88 !important;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    margin-top: 2rem;
    border-radius: 8px;
}


.question button{
    color: #5D5A88;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif ;
    
}

/* Team */

.team{
    background-color: #FAE6E7;
}

.team .team-item{
    width: 100%;
    height: 100%;
    background-color:#FFF ;
    transition: all 0.5s;
}

.team-item .team-contact a{
    background-color: #F2F1FA;
    transition: all 0.5;
}

.team-item .team-contact i{
    color: #8D8BA7;
}

.team .team-icon a:hover{
    background-color: #bf9658;
    
}

.team .team-icon .btn:hover i{
    color: white;
}

.team .team-item:hover{
    background-color:#43291f ;
  
}

.team .team-item:hover *{
  color: white;
}

.team .team-item:hover i{
    color: #43291f;
}



/* CONTACT */

.contact__left{
    background-image: url(../img/contact-left.png) ;
    background-size: cover;
    height: 30rem;
    border-radius: 5px;
    position: relative;
    
    
}

.contact__left::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
   
}

.contact_content{
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    color:white;
}

.contact_content h4, .contact_content p, .contact_content a{
    color:white;
} 

.color-change {
    color: brown;
    animation: changeColor 1s infinite alternate;
  }

  @keyframes changeColor {
    0% {
      color: brown; 
    }
    50% {
      color: white; 
    }
    100% {
      color: brown;
    }
  }

.contact__right{
    background-color: #FBEADF;
    border-radius: 8px;
    min-height: 28rem;
}

.contact__right label{
    color: #5D5A88;
    font-weight: bold;
}



/* footer */


footer{
    background-color: #FBEADF;
}


.footer_bottom .col-lg-3 ,.footer_bottom .col-lg-5 {
    position: relative;
}

.footer_bottom img{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.subscribe input{
    border: 0;
    line-height: 100%;
    margin-left: 1rem;
}

.subscribe{
    background-color: white;
    border-radius: 50rem;
    /* text-align: end; */
}


.footer-icon a{
    border-radius: 50%;
    border: 1px solid #AB8D83;
    color: #AB8D83;
}

.footer-icon .btn:hover{
    color: white;
}

@media screen and (max-width:768px) {
    
    .responsive{
        display: none;
    }

    .footer_bottom .middle  {
        height: 10rem;
        width: 80%;
        margin: 0 auto;
        
    }

    .footer-icon{
        justify-content: center !important;
    }

     .footer-contact{
        text-align: center !important;
    }
}

